<section id="events" class="content-section">
    <div class="flex justify-between items-center mb-6">
        <h2 class="text-2xl font-bold text-slate-800">მიმდინარე ღონისძიებები</h2>
        <button onclick="Event_Create()" class="bg-indigo-600 text-white px-6 py-2 rounded-lg shadow-lg hover:bg-indigo-700 transition">
            დაჯავშნა
        </button>                    
    </div>    
    <div>
        <table class="w-full text-left border-collapse">
            <thead>
                <tr class="bg-slate-50 border-b border-slate-100">
                    <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-slate-500">#</th>
                    <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-slate-500">ნომერი</th>
                    <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-slate-500">ღონისძიების დასახელება</th>
                    <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-slate-500">დაწყების თარიღი</th>
                    <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-slate-500">დასრულების თარიღი</th>                                
                    <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-slate-500">პასუხისმგებელი</th>
                    <th class="px-6 py-4 text-xs font-bold uppercase tracking-wider text-slate-500 pl-9">მოქმედება</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-slate-50">
                {% for event in events %}
                <tr class="hover:bg-slate-50/50 transition-colors group">
                    <td class="px-6 py-4 text-sm font-medium text-slate-400">
                        {{ loop.index }}
                    </td> 
                    <td class="px-6 py-4">
                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-indigo-50 text-indigo-700">
                            <i class="fas fa-door-closed mr-1"></i> {{ event.room_number }}
                        </span>
                    </td>                                                               
                    <td class="px-6 py-4">
                        <div class="text-sm font-bold text-slate-700">{{ event.description }}</div>
                    </td>
                    <td class="px-6 py-4">
                        <div class="flex items-center text-sm text-slate-600">
                            <i class="far fa-calendar-alt mr-2 text-emerald-500"></i>
                            {{ event.start_date.strftime('%Y-%m-%d %H:%M') }}
                        </div>
                    </td>
                    <td class="px-6 py-4">
                        <div class="flex items-center text-sm text-slate-600">
                            <i class="far fa-calendar-check mr-2 text-rose-500"></i>
                            {{ event.end_date.strftime('%Y-%m-%d %H:%M') }}
                        </div>
                    </td>                              
                    <td class="px-6 py-4  -ml-2">
                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-indigo-50 text-indigo-700 -ml-2 ">
                            <i class="fas fa-user-tie mr-1"></i>  {{ event.user_id}} {{ event.first_name }} {{ event.last_name }}
                        </span>
                    </td>
                    <td class="px-6 py-4">                        
                        {% if event.confirmation %}
                            <a href="#"                             
                                class="text-emerald-500 hover:text-emerald-700 transition p-1"                                    
                                onclick="return false">
                                <i class="fas fa-check-circle"></i>
                            </a>
                        {% else %}
                            {% if user.super_admin or user.id == event.admin_room  %} 
                                <a href="/event/confirmation/{{ event.id }}"                             
                                    class="text-slate-400 hover:text-free-600 transition p-1"
                                    onclick="return confirm('ნამდვილად გსურთ ღონისძიების დადასტურება?')">
                                    <i class="fas fa-check-circle"></i>
                                </a>                                                                                                                 
                            {% endif %}
                        {% endif %}
                        {% if user.super_admin or user.id == event.id_user and not event.confirmation %}                            
                        <button 
                            onclick="Event_Edit(this)"
                            data-id="{{ event.id }}"
                            data-room="{{ event.id_room }}"
                            data-user="{{ event.id_user }}"
                            data-start="{{ event.start_date.strftime('%Y-%m-%dT%H:%M') }}"
                            data-end="{{ event.end_date.strftime('%Y-%m-%dT%H:%M') }}"
                            data-desc="{{ event.description }}"
                            class="text-slate-400 hover:text-indigo-600 transition p-1">
                            <i class="fas fa-edit text-xl"></i>
                        </button>                                                              
                        <a href="/event/delete/{{ event.id }}" 
                            class="text-slate-400 hover:text-red-600 transition p-1"
                            onclick="return confirm('ნამდვილად გსურთ ღონისძიების წაშლა?')">
                            <i class="fas fa-trash-alt text-xl"></i>
                        </a>
                        {% endif %}                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>