<!DOCTYPE html>
<html lang="ka">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta http-equiv="refresh" content="300">

    <title>{{ title }}</title>

    <script src="https://cdn.tailwindcss.com"></script>

    {% if not title == "RRS Dashboard" and not title == "ღონისძიებები" %}
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
    {% endif %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue&display=swap');
        body { font-family: 'Helvetica Neue', sans-serif; }
    </style>

</head>

<body class="bg-gray-100">

